.app-layout{
    margin: 1% 5%;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
}
.logo-container img{
    width: 90px;
}
.list-items ul{
    display: flex;
    font-size: 18px;
}
.list-items{
    margin: 0 10%;
}
.list-items ul li{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}
.restaurent-items-container{
    display: flex;
    flex-wrap: wrap;
}

.restaurent-card:hover{
    border: 1px solid grey;
    cursor: pointer;
}

.restaurent-img{
    height: 160px;
}
.restaurent-img img{
    height: 100%;
}

.restaurent-name{
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 0;
}

.restaurent-card{
    padding: 10px;
    margin: 5px 10px;
    background-color: rgb(218, 216, 216);
    width:250px;
}
.restaurent-card .restaurent-dynamicDetails{
    display: flex;
    justify-content: space-between;
}

.search-container{
    margin: 10px;
    padding: 20px;
}
.search-container .search-input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 40%;
    margin-right: 5px;
    padding: 5px;
    font-size: 15px;
}
.search-container .search-btn{
    height: 42px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 10%;
    margin-right: 5px;
    padding: 5px;
    font-size: 15px;
    background: white;
    cursor:pointer;
}