.dish-img img{
    height: 100px;
    margin:5px;
    border-radius: 3px;
}
.dish-card-container{
    margin: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
}
.dish-card-container:hover{
    border: 1px solid rgb(218, 216, 216);
    cursor: pointer;
}